<!DOCTYPE html>
<html>
<head>
<title>加盟店APP技师培训内容管理系统</title>
<meta charset="UTF-8">
<meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, height=device-height" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta name="robots" content="all" />

<link rel="stylesheet" type="text/css" href="/Content/webdoc/css/render.css">

<script src="~/Content/webdoc/js/jquery-1.10.2.min.js"></script>
<script src="/Content/webdoc/js/loading.js"></script>
<script src="~/Content/webdoc/js/common.js"></script>
<script src="~/Content/webdoc/js/home.js"></script>

</head>

<body>
<section class="header">
	<em><img src="/Content/webdoc/img/logo.svg"></em>
	<h1><a href="/Home/Index"><span>加盟店APP技师培训<i>内容管理系统</i></span></a></h1>
    <div class="logout">
		<span><i>@ViewData["t_userName"]</i></span>
        @*<a href="/Home/Index" class="btnType_capsule btnType_M btnLooks_hollow">首页</a>*@
		<a href="/Account/UserLogout" class="btnType_capsule btnType_M btnLooks_hollow">退出</a>
	</div>
</section>

<section class="cmsbody">
    <div class="menubar">
        <div class="btnBox">
            <span class="btnBoxIn" id="articleNo">文章总数(0)</span>
        </div>
        <hr>

        <ul class="menu" id="menu"></ul>
        <hr>
    </div>

    <iframe name="right" id="lright" style="border: none; display: block; width: calc(100% - 15rem); height: calc(100vh - 6rem); /*height: calc(85.5vh); width: calc(100%);*/"></iframe>
</section>

<section class="foot">
    <p>
        Copyright &copy; SpeedWork All Rights Reserved. 
    </p>
</section>
<div class="popbox" id="popbox">
    <div><span class="loading"></span></div>
</div>
</body>
</html>