<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, height=device-height" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="cache-control" content="no-cache"/>
<meta name="robots" content="all" />

<link rel="stylesheet" type="text/css" href="/Content/webdoc/css/article.css">
<script src="~/Content/webdoc/js/jquery-1.10.2.min.js"></script>
<script src="~/Content/webdoc/js/common.js"></script>
<script src="~/Content/webdoc/js/article.js"></script>
<title></title>
</head>

<body>
<section class="previewBox" id="previewBox"></section>
@*<h2 class="heading">
	<span>什么是汽车美容，什么是汽车美容，什么是汽车美容</span>
	<i>编辑：王小二</i><i>2018-04-23</i>
</h2>
<hr>
<div class="contentBox">
	<img src="images/images01.jpg" />
	<div>
	近日，一位市民拍摄的照片引起许多人的关注，照片中，一位公交车乘务管理员用身体抵住一位打盹儿的老人，以防止老人睡过去后摔倒。北京青年报记者昨天联系到了这位423路车的乘务管理员张金源，他表示，看到老人打盹儿，害怕他睡过去摔倒就让老人靠了一会儿，“只是一件微不足道的小事儿罢了”。https://www.cnblogs.com/aliyue/p/5703528.html
	</div>
	
	<video src="http://www.opuscule.cn/video/giti_test.mp4" controls="controls">
	您的浏览器不支持 video 标签。
	</video>
	
	<div>
	1234567890123456789012345678901234567890123456789012345678901234567890近日，一位市民拍摄的照片引起许多人的关注，照片中，一位公交车乘务管理员用身体抵住一位打盹儿的老人，以防止老人睡过去后摔倒。北京青年报记者昨天联系到了这位423路车的乘务管理员张金源，他表示，看到老人打盹儿，害怕他睡过去摔倒就让老人靠了一会儿，“只是一件微不足道的小事儿罢了”。	abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz
	</div>
	
	<img src="images/images02.jpg" />
	
	<p><b>汽车美容</b></p>
	<div><br></div>
	<div>是指针对汽车各部位不同材质所需的保养条件，采用不同汽车美容护理用品及施工工艺，对汽车保养护理。“汽车美容”源于西方发达国家，英文名称表示为“Car Care”。<br>由于汽车工业的发展，社会消费时尚的流行，以及人们对事物猎奇、追求新异思想的影响，这些国家的新车款式更新换代速度非常快，追新族们为得到新车而不愿旧车贬值，因而在汽车消费与二手车市场之间，汽车美容装饰业也就应运而生。换句话说，汽车美容是工业经济高速发展、消费观念进步以及汽车文化日益深入人心的必然产物。</div>
	<p>
	近日，一位市民拍摄的照片引起许多人的关注，照片中，一位公交车乘务管理员用身体抵住一位打盹儿的老人，以防止老人睡过去后摔倒。北京青年报记者昨天联系到了这位423路车的乘务管理员张金源，他表示，看到老人打盹儿，害怕他睡过去摔倒就让老人靠了一会儿，“只是一件微不足道的小事儿罢了”。
	</p>	
	
	<p>
	近日，一位市民拍摄的照片引起许多人的关注，照片中，一位公交车乘务管理员用身体抵住一位打盹儿的老人，以防止老人睡过去后摔倒。北京青年报记者昨天联系到了这位423路车的乘务管理员张金源，他表示，看到老人打盹儿，害怕他睡过去摔倒就让老人靠了一会儿，“只是一件微不足道的小事儿罢了”。
	</p>
</div>*@
<div class="foot">
&copy; 驾捷乐商贸有限公司 保留所有权利
</div>
</body>
</html>
